stages:
  - build
  - release

# -------- BUILD JOB ----------
build_job:
  stage: build
  image: node:20
  script:
    - npm ci
    - npm run build
  only:
    - branches
  artifacts:
    when: always
    paths:
      - dist/
      - .next/
      - build/
    expire_in: 1 week

# -------- RELEASE JOB ----------
release_job:
  stage: release
  image: node:20
  script:
    - npm ci
    - npx semantic-release --extends ./.releaserc.gitlab.json
  only:
    - main